@model Backend5.Models.MyViewModels.TaskOneIdViewModel

@{
    ViewData["Title"] = "Index";
}


@foreach (var i in Model.L)
{
    <div class="jumbotron ti col-8">
        <h3>@i.Header</h3>
        <hr />
        <div class="row">
            <div class="col">
                <p>Статус: @i.Status</p>
                <form asp-controller="ClientTask" asp-action="Delete">
                  <input type="hidden" asp-for="@Model.Id" value="@i.Id" />
                    <button type="submit" class="btn btn-lg btn-danger">Отменить</button>
                </form>

            </div>
            <div class="col text-right pt-2 pr-3">
                <h5>Цена: @i.Price рублей</h5>
            </div>
        </div>
    </div>
}